<%= link_to "Back to Restaurants", restaurants_url %>
<h1>Welcome, <%= @current_customer[:first_name] %>!</h1>
<h2>Below are your reservations:</h2>

<section><% @current_customer.reservations.each do |r| %>
	<%= link_to "Edit Reservation", edit_restaurant_reservation_path(r.restaurant.id, r.id) %>
	<strong>Restaurant:</strong> <%= r.restaurant.name %><br />
	<strong>Reservation time:</strong> <%= r.day %><br />
	<strong>Number of Guests:</strong> <%= r.num_of_customers %><br>
	<br>
	<% end %></section>

