<%= link_to "Back to Restaurants", restaurants_url %>
<h1>Welcome, <%= @current_customer[:first_name] %>!</h1>
<h2>Below are your reservations:</h2>

<p><% @current_customer.reservations.each do |r| %>
	Restaurant: <%= r.restaurant.name %><br />
	Reservation time: <%= r.day %><br />
	Number of Guests: <%= r.num_of_customers %><br />
	<% end %></p>

