<h1>Reservations for <%= @restaurant.name %></h1>
<% @reservations.each do |r| %>
	Customer: <%= r.customer.first_name %> <%= r.customer.last_name %><br />
	Reservation time: <%= r.day %><br />
	Number of Guests: <%= r.num_of_customers %><br />
<% end %>

