<%= @restaurant[:name] %>
<%= link_to "Edit Restaurant", edit_restaurant_path%>
<div>
	<section>
		<%= @restaurant[:address] %><br />
		<%= @restaurant[:category] %><br />
		<%= @restaurant[:summary] %><br />
	</section>
</div>